
          .contact-form
          {
            position: relative;
          }
          #contact-form textarea,
          #contact-form input 
          {
            background-color: transparent;
          }



.stars-outer {
  width: 100%;
  height: 100%;
  background: black;
  background: radial-gradient(circle, black 0%, #14082b 100%);
}

#stars-sky {
  width: 100%;
  height: 150%;
  position: absolute;
  top: -40%;
  overflow: hidden;
}

.stars-star {
  opacity: 0;
  transform-origin: 0, 0;
  position: absolute;
  background: white;
  box-shadow: 0px 0px 20px 0px white;
  border-radius: 100%;
  animation-timing-function: linear, linear !important;
  animation-iteration-count: infinite, infinite !important;
  animation-delay: -30s, -30s !important;
}

.stars-size-1 {
  width: 0.5px;
  height: 0.5px;
}

.stars-size-2 {
  width: 1px;
  height: 1px;
}

.stars-size-3 {
  width: 2px;
  height: 2px;
}

.stars-axis-1 {
  animation: anim0 42895ms, fade7 42895ms;
}

.stars-axis-2 {
  animation: anim0 20589ms, fade2 20589ms;
}

.stars-axis-3 {
  animation: anim0 24547ms, fade9 24547ms;
}

.stars-axis-4 {
  animation: anim4 22091ms, fade8 22091ms;
}

.stars-axis-5 {
  animation: anim4 9210ms, fade2 9210ms;
}

.stars-axis-6 {
  animation: anim4 26720ms, fade2 26720ms;
}

.stars-axis-7 {
  animation: anim4 38935ms, fade2 38935ms;
}

.stars-axis-8 {
  animation: anim8 29556ms, fade5 29556ms;
}

.stars-axis-9 {
  animation: anim8 42635ms, fade5 42635ms;
}

.stars-axis-10 {
  animation: anim8 7812ms, fade4 7812ms;
}

.stars-axis-11 {
  animation: anim8 30602ms, fade7 30602ms;
}

.stars-axis-12 {
  animation: anim12 23324ms, fade2 23324ms;
}

.stars-axis-13 {
  animation: anim12 33172ms, fade2 33172ms;
}

.stars-axis-14 {
  animation: anim12 35794ms, fade10 35794ms;
}

.stars-axis-15 {
  animation: anim12 42118ms, fade10 42118ms;
}

.stars-axis-16 {
  animation: anim16 24008ms, fade1 24008ms;
}

.stars-axis-17 {
  animation: anim16 18898ms, fade1 18898ms;
}

.stars-axis-18 {
  animation: anim16 10865ms, fade10 10865ms;
}

.stars-axis-19 {
  animation: anim16 10763ms, fade8 10763ms;
}

.stars-axis-20 {
  animation: anim20 20219ms, fade9 20219ms;
}

.stars-axis-21 {
  animation: anim20 26715ms, fade3 26715ms;
}

.stars-axis-22 {
  animation: anim20 29438ms, fade3 29438ms;
}

.stars-axis-23 {
  animation: anim20 5297ms, fade3 5297ms;
}

.stars-axis-24 {
  animation: anim24 43962ms, fade4 43962ms;
}

.stars-axis-25 {
  animation: anim24 38559ms, fade10 38559ms;
}

.stars-axis-26 {
  animation: anim24 15155ms, fade9 15155ms;
}

.stars-axis-27 {
  animation: anim24 32161ms, fade4 32161ms;
}

.stars-axis-28 {
  animation: anim28 39638ms, fade7 39638ms;
}

.stars-axis-29 {
  animation: anim28 9881ms, fade5 9881ms;
}

.stars-axis-30 {
  animation: anim28 22939ms, fade2 22939ms;
}

.stars-axis-31 {
  animation: anim28 32201ms, fade4 32201ms;
}

.stars-axis-32 {
  animation: anim32 44729ms, fade3 44729ms;
}

.stars-axis-33 {
  animation: anim32 18140ms, fade9 18140ms;
}

.stars-axis-34 {
  animation: anim32 19504ms, fade3 19504ms;
}

.stars-axis-35 {
  animation: anim32 16941ms, fade9 16941ms;
}

.stars-axis-36 {
  animation: anim36 39095ms, fade8 39095ms;
}

.stars-axis-37 {
  animation: anim36 6139ms, fade9 6139ms;
}

.stars-axis-38 {
  animation: anim36 13795ms, fade4 13795ms;
}

.stars-axis-39 {
  animation: anim36 33032ms, fade1 33032ms;
}

.stars-axis-40 {
  animation: anim40 14542ms, fade3 14542ms;
}

.stars-axis-41 {
  animation: anim40 22396ms, fade1 22396ms;
}

.stars-axis-42 {
  animation: anim40 20969ms, fade1 20969ms;
}

.stars-axis-43 {
  animation: anim40 25178ms, fade10 25178ms;
}

.stars-axis-44 {
  animation: anim44 23058ms, fade10 23058ms;
}

.stars-axis-45 {
  animation: anim44 25330ms, fade8 25330ms;
}

.stars-axis-46 {
  animation: anim44 39926ms, fade3 39926ms;
}

.stars-axis-47 {
  animation: anim44 6830ms, fade3 6830ms;
}

.stars-axis-48 {
  animation: anim48 27412ms, fade10 27412ms;
}

.stars-axis-49 {
  animation: anim48 31809ms, fade4 31809ms;
}

.stars-axis-50 {
  animation: anim48 38666ms, fade6 38666ms;
}

.stars-axis-51 {
  animation: anim48 37137ms, fade9 37137ms;
}

.stars-axis-52 {
  animation: anim52 20781ms, fade3 20781ms;
}

.stars-axis-53 {
  animation: anim52 30005ms, fade8 30005ms;
}

.stars-axis-54 {
  animation: anim52 12210ms, fade10 12210ms;
}

.stars-axis-55 {
  animation: anim52 41182ms, fade3 41182ms;
}

.stars-axis-56 {
  animation: anim56 39356ms, fade2 39356ms;
}

.stars-axis-57 {
  animation: anim56 21933ms, fade6 21933ms;
}

.stars-axis-58 {
  animation: anim56 37102ms, fade3 37102ms;
}

.stars-axis-59 {
  animation: anim56 17728ms, fade3 17728ms;
}

.stars-axis-60 {
  animation: anim60 39484ms, fade3 39484ms;
}

.stars-axis-61 {
  animation: anim60 33742ms, fade9 33742ms;
}

.stars-axis-62 {
  animation: anim60 11412ms, fade3 11412ms;
}

.stars-axis-63 {
  animation: anim60 12101ms, fade9 12101ms;
}

.stars-axis-64 {
  animation: anim64 43694ms, fade4 43694ms;
}

.stars-axis-65 {
  animation: anim64 8246ms, fade5 8246ms;
}

.stars-axis-66 {
  animation: anim64 25548ms, fade9 25548ms;
}

.stars-axis-67 {
  animation: anim64 41666ms, fade8 41666ms;
}

.stars-axis-68 {
  animation: anim68 12418ms, fade10 12418ms;
}

.stars-axis-69 {
  animation: anim68 33677ms, fade9 33677ms;
}

.stars-axis-70 {
  animation: anim68 40899ms, fade1 40899ms;
}

.stars-axis-71 {
  animation: anim68 21911ms, fade5 21911ms;
}

.stars-axis-72 {
  animation: anim72 44148ms, fade1 44148ms;
}

.stars-axis-73 {
  animation: anim72 14121ms, fade2 14121ms;
}

.stars-axis-74 {
  animation: anim72 23840ms, fade1 23840ms;
}

.stars-axis-75 {
  animation: anim72 7335ms, fade2 7335ms;
}

.stars-axis-76 {
  animation: anim76 33127ms, fade2 33127ms;
}

.stars-axis-77 {
  animation: anim76 33165ms, fade2 33165ms;
}

.stars-axis-78 {
  animation: anim76 16534ms, fade1 16534ms;
}

.stars-axis-79 {
  animation: anim76 41471ms, fade8 41471ms;
}

.stars-axis-80 {
  animation: anim80 37111ms, fade5 37111ms;
}

.stars-axis-81 {
  animation: anim80 31737ms, fade8 31737ms;
}

.stars-axis-82 {
  animation: anim80 22851ms, fade5 22851ms;
}

.stars-axis-83 {
  animation: anim80 30651ms, fade5 30651ms;
}

.stars-axis-84 {
  animation: anim84 22587ms, fade10 22587ms;
}

.stars-axis-85 {
  animation: anim84 27418ms, fade9 27418ms;
}

.stars-axis-86 {
  animation: anim84 15670ms, fade3 15670ms;
}

.stars-axis-87 {
  animation: anim84 18040ms, fade2 18040ms;
}

.stars-axis-88 {
  animation: anim88 16997ms, fade4 16997ms;
}

.stars-axis-89 {
  animation: anim88 34343ms, fade7 34343ms;
}

.stars-axis-90 {
  animation: anim88 37655ms, fade8 37655ms;
}

.stars-axis-91 {
  animation: anim88 37947ms, fade5 37947ms;
}

.stars-axis-92 {
  animation: anim92 5429ms, fade1 5429ms;
}

.stars-axis-93 {
  animation: anim92 18779ms, fade2 18779ms;
}

.stars-axis-94 {
  animation: anim92 36195ms, fade9 36195ms;
}

.stars-axis-95 {
  animation: anim92 43266ms, fade6 43266ms;
}

.stars-axis-96 {
  animation: anim96 18513ms, fade7 18513ms;
}

.stars-axis-97 {
  animation: anim96 8050ms, fade4 8050ms;
}

.stars-axis-98 {
  animation: anim96 43914ms, fade5 43914ms;
}

.stars-axis-99 {
  animation: anim96 6188ms, fade1 6188ms;
}

.stars-axis-100 {
  animation: anim100 9282ms, fade10 9282ms;
}

.stars-axis-101 {
  animation: anim100 25960ms, fade4 25960ms;
}

.stars-axis-102 {
  animation: anim100 42467ms, fade3 42467ms;
}

.stars-axis-103 {
  animation: anim100 43239ms, fade2 43239ms;
}

.stars-axis-104 {
  animation: anim104 26963ms, fade9 26963ms;
}

.stars-axis-105 {
  animation: anim104 10374ms, fade1 10374ms;
}

.stars-axis-106 {
  animation: anim104 21499ms, fade2 21499ms;
}

.stars-axis-107 {
  animation: anim104 41109ms, fade6 41109ms;
}

.stars-axis-108 {
  animation: anim108 25310ms, fade7 25310ms;
}

.stars-axis-109 {
  animation: anim108 17508ms, fade4 17508ms;
}

.stars-axis-110 {
  animation: anim108 8821ms, fade3 8821ms;
}

.stars-axis-111 {
  animation: anim108 33524ms, fade10 33524ms;
}

.stars-axis-112 {
  animation: anim112 40243ms, fade3 40243ms;
}

.stars-axis-113 {
  animation: anim112 15248ms, fade8 15248ms;
}

.stars-axis-114 {
  animation: anim112 41821ms, fade9 41821ms;
}

.stars-axis-115 {
  animation: anim112 20681ms, fade6 20681ms;
}

.stars-axis-116 {
  animation: anim116 37331ms, fade7 37331ms;
}

.stars-axis-117 {
  animation: anim116 34219ms, fade9 34219ms;
}

.stars-axis-118 {
  animation: anim116 27032ms, fade2 27032ms;
}

.stars-axis-119 {
  animation: anim116 10844ms, fade1 10844ms;
}

.stars-axis-120 {
  animation: anim120 5401ms, fade4 5401ms;
}

.stars-axis-121 {
  animation: anim120 42102ms, fade4 42102ms;
}

.stars-axis-122 {
  animation: anim120 43583ms, fade9 43583ms;
}

.stars-axis-123 {
  animation: anim120 14984ms, fade8 14984ms;
}

.stars-axis-124 {
  animation: anim124 41377ms, fade3 41377ms;
}

.stars-axis-125 {
  animation: anim124 36597ms, fade7 36597ms;
}

.stars-axis-126 {
  animation: anim124 34503ms, fade3 34503ms;
}

.stars-axis-127 {
  animation: anim124 31622ms, fade1 31622ms;
}

.stars-axis-128 {
  animation: anim128 41820ms, fade7 41820ms;
}

.stars-axis-129 {
  animation: anim128 19691ms, fade9 19691ms;
}

.stars-axis-130 {
  animation: anim128 26166ms, fade5 26166ms;
}

.stars-axis-131 {
  animation: anim128 25744ms, fade9 25744ms;
}

.stars-axis-132 {
  animation: anim132 13710ms, fade1 13710ms;
}

.stars-axis-133 {
  animation: anim132 39190ms, fade4 39190ms;
}

.stars-axis-134 {
  animation: anim132 42912ms, fade8 42912ms;
}

.stars-axis-135 {
  animation: anim132 23668ms, fade8 23668ms;
}

.stars-axis-136 {
  animation: anim136 11499ms, fade3 11499ms;
}

.stars-axis-137 {
  animation: anim136 31575ms, fade3 31575ms;
}

.stars-axis-138 {
  animation: anim136 33825ms, fade8 33825ms;
}

.stars-axis-139 {
  animation: anim136 8740ms, fade7 8740ms;
}

.stars-axis-140 {
  animation: anim140 20010ms, fade3 20010ms;
}

.stars-axis-141 {
  animation: anim140 36684ms, fade10 36684ms;
}

.stars-axis-142 {
  animation: anim140 12007ms, fade4 12007ms;
}

.stars-axis-143 {
  animation: anim140 32467ms, fade4 32467ms;
}

.stars-axis-144 {
  animation: anim144 38686ms, fade10 38686ms;
}

.stars-axis-145 {
  animation: anim144 24564ms, fade7 24564ms;
}

.stars-axis-146 {
  animation: anim144 25904ms, fade3 25904ms;
}

.stars-axis-147 {
  animation: anim144 21412ms, fade9 21412ms;
}

.stars-axis-148 {
  animation: anim148 43328ms, fade3 43328ms;
}

.stars-axis-149 {
  animation: anim148 23105ms, fade2 23105ms;
}

.stars-axis-150 {
  animation: anim148 38137ms, fade5 38137ms;
}

.stars-axis-151 {
  animation: anim148 24310ms, fade8 24310ms;
}

.stars-axis-152 {
  animation: anim152 40009ms, fade5 40009ms;
}

.stars-axis-153 {
  animation: anim152 26140ms, fade2 26140ms;
}

.stars-axis-154 {
  animation: anim152 28912ms, fade9 28912ms;
}

.stars-axis-155 {
  animation: anim152 33235ms, fade5 33235ms;
}

.stars-axis-156 {
  animation: anim156 34313ms, fade2 34313ms;
}

.stars-axis-157 {
  animation: anim156 31215ms, fade10 31215ms;
}

.stars-axis-158 {
  animation: anim156 18363ms, fade4 18363ms;
}

.stars-axis-159 {
  animation: anim156 36543ms, fade1 36543ms;
}

.stars-axis-160 {
  animation: anim160 18336ms, fade1 18336ms;
}

.stars-axis-161 {
  animation: anim160 5576ms, fade6 5576ms;
}

.stars-axis-162 {
  animation: anim160 16598ms, fade10 16598ms;
}

.stars-axis-163 {
  animation: anim160 15026ms, fade6 15026ms;
}

.stars-axis-164 {
  animation: anim164 23020ms, fade6 23020ms;
}

.stars-axis-165 {
  animation: anim164 27735ms, fade8 27735ms;
}

.stars-axis-166 {
  animation: anim164 14093ms, fade10 14093ms;
}

.stars-axis-167 {
  animation: anim164 33987ms, fade7 33987ms;
}

.stars-axis-168 {
  animation: anim168 41656ms, fade5 41656ms;
}

.stars-axis-169 {
  animation: anim168 40413ms, fade10 40413ms;
}

.stars-axis-170 {
  animation: anim168 7865ms, fade8 7865ms;
}

.stars-axis-171 {
  animation: anim168 33222ms, fade1 33222ms;
}

.stars-axis-172 {
  animation: anim172 14205ms, fade9 14205ms;
}

.stars-axis-173 {
  animation: anim172 22775ms, fade4 22775ms;
}

.stars-axis-174 {
  animation: anim172 44558ms, fade6 44558ms;
}

.stars-axis-175 {
  animation: anim172 36300ms, fade7 36300ms;
}

.stars-axis-176 {
  animation: anim176 24311ms, fade4 24311ms;
}

.stars-axis-177 {
  animation: anim176 26977ms, fade5 26977ms;
}

.stars-axis-178 {
  animation: anim176 31105ms, fade10 31105ms;
}

.stars-axis-179 {
  animation: anim176 24999ms, fade4 24999ms;
}

.stars-axis-180 {
  animation: anim180 23433ms, fade10 23433ms;
}

.stars-axis-181 {
  animation: anim180 10284ms, fade5 10284ms;
}

.stars-axis-182 {
  animation: anim180 20710ms, fade4 20710ms;
}

.stars-axis-183 {
  animation: anim180 20786ms, fade3 20786ms;
}

.stars-axis-184 {
  animation: anim184 11604ms, fade2 11604ms;
}

.stars-axis-185 {
  animation: anim184 9241ms, fade2 9241ms;
}

.stars-axis-186 {
  animation: anim184 39375ms, fade2 39375ms;
}

.stars-axis-187 {
  animation: anim184 10081ms, fade5 10081ms;
}

.stars-axis-188 {
  animation: anim188 28048ms, fade2 28048ms;
}

.stars-axis-189 {
  animation: anim188 34608ms, fade10 34608ms;
}

.stars-axis-190 {
  animation: anim188 42147ms, fade5 42147ms;
}

.stars-axis-191 {
  animation: anim188 6976ms, fade1 6976ms;
}

.stars-axis-192 {
  animation: anim192 18442ms, fade6 18442ms;
}

.stars-axis-193 {
  animation: anim192 43794ms, fade8 43794ms;
}

.stars-axis-194 {
  animation: anim192 12377ms, fade1 12377ms;
}

.stars-axis-195 {
  animation: anim192 7254ms, fade8 7254ms;
}

.stars-axis-196 {
  animation: anim196 31365ms, fade9 31365ms;
}

.stars-axis-197 {
  animation: anim196 42680ms, fade5 42680ms;
}

.stars-axis-198 {
  animation: anim196 35658ms, fade1 35658ms;
}

.stars-axis-199 {
  animation: anim196 6312ms, fade10 6312ms;
}

.stars-axis-200 {
  animation: anim200 29695ms, fade6 29695ms;
}

.stars-axis-201 {
  animation: anim200 5682ms, fade3 5682ms;
}

.stars-axis-202 {
  animation: anim200 38457ms, fade1 38457ms;
}

.stars-axis-203 {
  animation: anim200 43750ms, fade9 43750ms;
}

.stars-axis-204 {
  animation: anim204 33914ms, fade5 33914ms;
}

.stars-axis-205 {
  animation: anim204 13150ms, fade7 13150ms;
}

.stars-axis-206 {
  animation: anim204 37614ms, fade4 37614ms;
}

.stars-axis-207 {
  animation: anim204 44828ms, fade9 44828ms;
}

.stars-axis-208 {
  animation: anim208 22600ms, fade8 22600ms;
}

.stars-axis-209 {
  animation: anim208 38111ms, fade8 38111ms;
}

.stars-axis-210 {
  animation: anim208 38591ms, fade1 38591ms;
}

.stars-axis-211 {
  animation: anim208 28895ms, fade9 28895ms;
}

.stars-axis-212 {
  animation: anim212 35217ms, fade4 35217ms;
}

.stars-axis-213 {
  animation: anim212 7502ms, fade3 7502ms;
}

.stars-axis-214 {
  animation: anim212 30234ms, fade6 30234ms;
}

.stars-axis-215 {
  animation: anim212 12696ms, fade3 12696ms;
}

.stars-axis-216 {
  animation: anim216 17216ms, fade8 17216ms;
}

.stars-axis-217 {
  animation: anim216 30232ms, fade6 30232ms;
}

.stars-axis-218 {
  animation: anim216 8404ms, fade1 8404ms;
}

.stars-axis-219 {
  animation: anim216 27536ms, fade6 27536ms;
}

.stars-axis-220 {
  animation: anim220 20043ms, fade10 20043ms;
}

.stars-axis-221 {
  animation: anim220 20610ms, fade7 20610ms;
}

.stars-axis-222 {
  animation: anim220 20132ms, fade3 20132ms;
}

.stars-axis-223 {
  animation: anim220 40956ms, fade10 40956ms;
}

.stars-axis-224 {
  animation: anim224 33343ms, fade7 33343ms;
}

.stars-axis-225 {
  animation: anim224 28349ms, fade7 28349ms;
}

.stars-axis-226 {
  animation: anim224 7460ms, fade8 7460ms;
}

.stars-axis-227 {
  animation: anim224 31486ms, fade3 31486ms;
}

.stars-axis-228 {
  animation: anim228 14466ms, fade2 14466ms;
}

.stars-axis-229 {
  animation: anim228 10032ms, fade7 10032ms;
}

.stars-axis-230 {
  animation: anim228 6438ms, fade9 6438ms;
}

.stars-axis-231 {
  animation: anim228 18142ms, fade7 18142ms;
}

.stars-axis-232 {
  animation: anim232 41376ms, fade7 41376ms;
}

.stars-axis-233 {
  animation: anim232 24670ms, fade8 24670ms;
}

.stars-axis-234 {
  animation: anim232 8909ms, fade6 8909ms;
}

.stars-axis-235 {
  animation: anim232 23110ms, fade8 23110ms;
}

.stars-axis-236 {
  animation: anim236 20984ms, fade5 20984ms;
}

.stars-axis-237 {
  animation: anim236 17545ms, fade5 17545ms;
}

.stars-axis-238 {
  animation: anim236 12158ms, fade6 12158ms;
}

.stars-axis-239 {
  animation: anim236 8653ms, fade3 8653ms;
}

.stars-axis-240 {
  animation: anim240 37777ms, fade7 37777ms;
}

.stars-axis-241 {
  animation: anim240 6587ms, fade3 6587ms;
}

.stars-axis-242 {
  animation: anim240 18101ms, fade9 18101ms;
}

.stars-axis-243 {
  animation: anim240 26726ms, fade1 26726ms;
}

.stars-axis-244 {
  animation: anim244 40921ms, fade9 40921ms;
}

.stars-axis-245 {
  animation: anim244 24495ms, fade8 24495ms;
}

.stars-axis-246 {
  animation: anim244 32473ms, fade7 32473ms;
}

.stars-axis-247 {
  animation: anim244 34631ms, fade6 34631ms;
}

.stars-axis-248 {
  animation: anim248 19673ms, fade6 19673ms;
}

.stars-axis-249 {
  animation: anim248 13690ms, fade8 13690ms;
}

.stars-axis-250 {
  animation: anim248 22788ms, fade2 22788ms;
}

.stars-axis-251 {
  animation: anim248 37430ms, fade1 37430ms;
}

.stars-axis-252 {
  animation: anim252 41678ms, fade8 41678ms;
}

.stars-axis-253 {
  animation: anim252 17785ms, fade9 17785ms;
}

.stars-axis-254 {
  animation: anim252 10318ms, fade9 10318ms;
}

.stars-axis-255 {
  animation: anim252 27725ms, fade1 27725ms;
}

.stars-axis-256 {
  animation: anim256 20753ms, fade2 20753ms;
}

.stars-axis-257 {
  animation: anim256 23923ms, fade5 23923ms;
}

.stars-axis-258 {
  animation: anim256 7438ms, fade6 7438ms;
}

.stars-axis-259 {
  animation: anim256 17982ms, fade1 17982ms;
}

.stars-axis-260 {
  animation: anim260 14053ms, fade8 14053ms;
}

.stars-axis-261 {
  animation: anim260 31953ms, fade10 31953ms;
}

.stars-axis-262 {
  animation: anim260 33532ms, fade10 33532ms;
}

.stars-axis-263 {
  animation: anim260 22285ms, fade2 22285ms;
}

.stars-axis-264 {
  animation: anim264 9202ms, fade4 9202ms;
}

.stars-axis-265 {
  animation: anim264 21517ms, fade9 21517ms;
}

.stars-axis-266 {
  animation: anim264 20695ms, fade8 20695ms;
}

.stars-axis-267 {
  animation: anim264 26301ms, fade1 26301ms;
}

.stars-axis-268 {
  animation: anim268 40706ms, fade9 40706ms;
}

.stars-axis-269 {
  animation: anim268 24823ms, fade9 24823ms;
}

.stars-axis-270 {
  animation: anim268 19121ms, fade10 19121ms;
}

.stars-axis-271 {
  animation: anim268 35893ms, fade5 35893ms;
}

.stars-axis-272 {
  animation: anim272 21289ms, fade3 21289ms;
}

.stars-axis-273 {
  animation: anim272 40585ms, fade9 40585ms;
}

.stars-axis-274 {
  animation: anim272 19869ms, fade2 19869ms;
}

.stars-axis-275 {
  animation: anim272 32856ms, fade8 32856ms;
}

.stars-axis-276 {
  animation: anim276 8685ms, fade7 8685ms;
}

.stars-axis-277 {
  animation: anim276 33497ms, fade7 33497ms;
}

.stars-axis-278 {
  animation: anim276 23907ms, fade8 23907ms;
}

.stars-axis-279 {
  animation: anim276 40811ms, fade3 40811ms;
}

.stars-axis-280 {
  animation: anim280 34706ms, fade7 34706ms;
}

.stars-axis-281 {
  animation: anim280 17814ms, fade3 17814ms;
}

.stars-axis-282 {
  animation: anim280 9192ms, fade7 9192ms;
}

.stars-axis-283 {
  animation: anim280 29495ms, fade4 29495ms;
}

.stars-axis-284 {
  animation: anim284 43599ms, fade4 43599ms;
}

.stars-axis-285 {
  animation: anim284 30539ms, fade7 30539ms;
}

.stars-axis-286 {
  animation: anim284 28161ms, fade8 28161ms;
}

.stars-axis-287 {
  animation: anim284 40282ms, fade5 40282ms;
}

.stars-axis-288 {
  animation: anim288 11450ms, fade10 11450ms;
}

.stars-axis-289 {
  animation: anim288 25109ms, fade8 25109ms;
}

.stars-axis-290 {
  animation: anim288 7333ms, fade4 7333ms;
}

.stars-axis-291 {
  animation: anim288 9860ms, fade5 9860ms;
}

.stars-axis-292 {
  animation: anim292 23185ms, fade3 23185ms;
}

.stars-axis-293 {
  animation: anim292 18658ms, fade5 18658ms;
}

.stars-axis-294 {
  animation: anim292 6250ms, fade5 6250ms;
}

.stars-axis-295 {
  animation: anim292 12089ms, fade4 12089ms;
}

.stars-axis-296 {
  animation: anim296 7029ms, fade7 7029ms;
}

.stars-axis-297 {
  animation: anim296 11722ms, fade7 11722ms;
}

.stars-axis-298 {
  animation: anim296 8767ms, fade2 8767ms;
}

.stars-axis-299 {
  animation: anim296 24328ms, fade6 24328ms;
}

.stars-axis-300 {
  animation: anim300 32411ms, fade7 32411ms;
}

.stars-axis-301 {
  animation: anim300 6935ms, fade10 6935ms;
}

.stars-axis-302 {
  animation: anim300 21586ms, fade3 21586ms;
}

.stars-axis-303 {
  animation: anim300 36628ms, fade1 36628ms;
}

.stars-axis-304 {
  animation: anim304 21476ms, fade9 21476ms;
}

.stars-axis-305 {
  animation: anim304 31847ms, fade3 31847ms;
}

.stars-axis-306 {
  animation: anim304 13971ms, fade1 13971ms;
}

.stars-axis-307 {
  animation: anim304 30403ms, fade3 30403ms;
}

.stars-axis-308 {
  animation: anim308 28384ms, fade3 28384ms;
}

.stars-axis-309 {
  animation: anim308 23354ms, fade4 23354ms;
}

.stars-axis-310 {
  animation: anim308 37498ms, fade7 37498ms;
}

.stars-axis-311 {
  animation: anim308 40808ms, fade6 40808ms;
}

.stars-axis-312 {
  animation: anim312 19653ms, fade6 19653ms;
}

.stars-axis-313 {
  animation: anim312 22641ms, fade6 22641ms;
}

.stars-axis-314 {
  animation: anim312 26188ms, fade6 26188ms;
}

.stars-axis-315 {
  animation: anim312 38685ms, fade1 38685ms;
}

.stars-axis-316 {
  animation: anim316 6733ms, fade1 6733ms;
}

.stars-axis-317 {
  animation: anim316 39637ms, fade6 39637ms;
}

.stars-axis-318 {
  animation: anim316 36335ms, fade6 36335ms;
}

.stars-axis-319 {
  animation: anim316 22863ms, fade7 22863ms;
}

.stars-axis-320 {
  animation: anim320 15722ms, fade5 15722ms;
}

.stars-axis-321 {
  animation: anim320 23891ms, fade8 23891ms;
}

.stars-axis-322 {
  animation: anim320 42741ms, fade1 42741ms;
}

.stars-axis-323 {
  animation: anim320 41481ms, fade10 41481ms;
}

.stars-axis-324 {
  animation: anim324 5428ms, fade2 5428ms;
}

.stars-axis-325 {
  animation: anim324 6938ms, fade3 6938ms;
}

.stars-axis-326 {
  animation: anim324 24288ms, fade2 24288ms;
}

.stars-axis-327 {
  animation: anim324 22310ms, fade9 22310ms;
}

.stars-axis-328 {
  animation: anim328 27534ms, fade10 27534ms;
}

.stars-axis-329 {
  animation: anim328 30603ms, fade7 30603ms;
}

.stars-axis-330 {
  animation: anim328 20894ms, fade9 20894ms;
}

.stars-axis-331 {
  animation: anim328 16238ms, fade10 16238ms;
}

.stars-axis-332 {
  animation: anim332 16812ms, fade4 16812ms;
}

.stars-axis-333 {
  animation: anim332 33486ms, fade10 33486ms;
}

.stars-axis-334 {
  animation: anim332 32831ms, fade7 32831ms;
}

.stars-axis-335 {
  animation: anim332 15700ms, fade7 15700ms;
}

.stars-axis-336 {
  animation: anim336 5113ms, fade3 5113ms;
}

.stars-axis-337 {
  animation: anim336 20141ms, fade7 20141ms;
}

.stars-axis-338 {
  animation: anim336 16100ms, fade4 16100ms;
}

.stars-axis-339 {
  animation: anim336 40675ms, fade7 40675ms;
}

.stars-axis-340 {
  animation: anim340 22388ms, fade3 22388ms;
}

.stars-axis-341 {
  animation: anim340 31786ms, fade4 31786ms;
}

.stars-axis-342 {
  animation: anim340 18283ms, fade1 18283ms;
}

.stars-axis-343 {
  animation: anim340 29077ms, fade7 29077ms;
}

.stars-axis-344 {
  animation: anim344 27770ms, fade2 27770ms;
}

.stars-axis-345 {
  animation: anim344 12805ms, fade7 12805ms;
}

.stars-axis-346 {
  animation: anim344 5507ms, fade9 5507ms;
}

.stars-axis-347 {
  animation: anim344 38425ms, fade8 38425ms;
}

.stars-axis-348 {
  animation: anim348 21054ms, fade8 21054ms;
}

.stars-axis-349 {
  animation: anim348 43445ms, fade1 43445ms;
}

.stars-axis-350 {
  animation: anim348 5006ms, fade9 5006ms;
}

.stars-axis-351 {
  animation: anim348 28266ms, fade3 28266ms;
}

.stars-axis-352 {
  animation: anim352 13845ms, fade5 13845ms;
}

.stars-axis-353 {
  animation: anim352 12656ms, fade9 12656ms;
}

.stars-axis-354 {
  animation: anim352 24868ms, fade3 24868ms;
}

.stars-axis-355 {
  animation: anim352 17354ms, fade3 17354ms;
}

.stars-axis-356 {
  animation: anim356 7386ms, fade7 7386ms;
}

.stars-axis-357 {
  animation: anim356 25635ms, fade10 25635ms;
}

.stars-axis-358 {
  animation: anim356 30307ms, fade1 30307ms;
}

.stars-axis-359 {
  animation: anim356 25756ms, fade10 25756ms;
}

@keyframes fade1 {
  2% {
    opacity: 0;
  }
  12% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade2 {
  14% {
    opacity: 0;
  }
  24% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade3 {
  8% {
    opacity: 0;
  }
  18% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade4 {
  18% {
    opacity: 0;
  }
  28% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade5 {
  1% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade6 {
  7% {
    opacity: 0;
  }
  17% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade7 {
  4% {
    opacity: 0;
  }
  14% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade8 {
  1% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade9 {
  1% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade10 {
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes anim4 {
  100% {
    transform: translate(79.8051240208vw, 5.5805178995vh);
  }
}
@keyframes anim8 {
  100% {
    transform: translate(79.2214454993vw, 11.1338480768vh);
  }
}
@keyframes anim12 {
  100% {
    transform: translate(78.2518080587vw, 16.6329352654vh);
  }
}
@keyframes anim16 {
  100% {
    transform: translate(76.9009356751vw, 22.0509884654vh);
  }
}
@keyframes anim20 {
  100% {
    transform: translate(75.1754096629vw, 27.3616114661vh);
  }
}
@keyframes anim24 {
  100% {
    transform: translate(73.0836366114vw, 32.5389314461vh);
  }
}
@keyframes anim28 {
  100% {
    transform: translate(70.6358074287vw, 37.5577250229vh);
  }
}
@keyframes anim32 {
  100% {
    transform: translate(67.8438476925vw, 42.3935411387vh);
  }
}
@keyframes anim36 {
  100% {
    transform: translate(64.72135955vw, 47.0228201834vh);
  }
}
@keyframes anim40 {
  100% {
    transform: translate(61.2835554495vw, 51.4230087749vh);
  }
}
@keyframes anim44 {
  100% {
    transform: translate(57.5471840271vw, 55.5726696367vh);
  }
}
@keyframes anim48 {
  100% {
    transform: translate(53.5304485087vw, 59.4515860382vh);
  }
}
@keyframes anim52 {
  100% {
    transform: translate(49.252918026vw, 63.0408602885vh);
  }
}
@keyframes anim56 {
  100% {
    transform: translate(44.7354322777vw, 66.3230058044vh);
  }
}
@keyframes anim60 {
  100% {
    transform: translate(40vw, 69.2820323028vh);
  }
}
@keyframes anim64 {
  100% {
    transform: translate(35.0696917431vw, 71.9035237039vh);
  }
}
@keyframes anim68 {
  100% {
    transform: translate(29.9685274733vw, 74.1747083653vh);
  }
}
@keyframes anim72 {
  100% {
    transform: translate(24.72135955vw, 76.0845213036vh);
  }
}
@keyframes anim76 {
  100% {
    transform: translate(19.353751648vw, 77.6236581021vh);
  }
}
@keyframes anim80 {
  100% {
    transform: translate(13.8918542133vw, 78.784620241vh);
  }
}
@keyframes anim84 {
  100% {
    transform: translate(8.3622770614vw, 79.5617516295vh);
  }
}
@keyframes anim88 {
  100% {
    transform: translate(2.7919597362vw, 79.9512661615vh);
  }
}
@keyframes anim92 {
  100% {
    transform: translate(-2.7919597362vw, 79.9512661615vh);
  }
}
@keyframes anim96 {
  100% {
    transform: translate(-8.3622770614vw, 79.5617516295vh);
  }
}
@keyframes anim100 {
  100% {
    transform: translate(-13.8918542134vw, 78.784620241vh);
  }
}
@keyframes anim104 {
  100% {
    transform: translate(-19.353751648vw, 77.6236581021vh);
  }
}
@keyframes anim108 {
  100% {
    transform: translate(-24.72135955vw, 76.0845213036vh);
  }
}
@keyframes anim112 {
  100% {
    transform: translate(-29.9685274733vw, 74.1747083653vh);
  }
}
@keyframes anim116 {
  100% {
    transform: translate(-35.0696917431vw, 71.9035237039vh);
  }
}
@keyframes anim120 {
  100% {
    transform: translate(-40vw, 69.2820323027vh);
  }
}
@keyframes anim124 {
  100% {
    transform: translate(-44.7354322777vw, 66.3230058044vh);
  }
}
@keyframes anim128 {
  100% {
    transform: translate(-49.2529180261vw, 63.0408602885vh);
  }
}
@keyframes anim132 {
  100% {
    transform: translate(-53.5304485087vw, 59.4515860382vh);
  }
}
@keyframes anim136 {
  100% {
    transform: translate(-57.5471840271vw, 55.5726696367vh);
  }
}
@keyframes anim140 {
  100% {
    transform: translate(-61.2835554495vw, 51.4230087749vh);
  }
}
@keyframes anim144 {
  100% {
    transform: translate(-64.72135955vw, 47.0228201834vh);
  }
}
@keyframes anim148 {
  100% {
    transform: translate(-67.8438476924vw, 42.3935411387vh);
  }
}
@keyframes anim152 {
  100% {
    transform: translate(-70.6358074286vw, 37.5577250229vh);
  }
}
@keyframes anim156 {
  100% {
    transform: translate(-73.0836366112vw, 32.5389314461vh);
  }
}
@keyframes anim160 {
  100% {
    transform: translate(-75.1754096624vw, 27.3616114661vh);
  }
}
@keyframes anim164 {
  100% {
    transform: translate(-76.9009356743vw, 22.0509884654vh);
  }
}
@keyframes anim168 {
  100% {
    transform: translate(-78.2518080574vw, 16.6329352656vh);
  }
}
@keyframes anim172 {
  100% {
    transform: translate(-79.2214454971vw, 11.1338480771vh);
  }
}
@keyframes anim176 {
  100% {
    transform: translate(-79.8051240171vw, 5.5805179vh);
  }
}
@keyframes anim180 {
  100% {
    transform: translate(-79.9999999939vw, 8.1127308627vh);
  }
}
@keyframes anim184 {
  100% {
    transform: translate(-79.805124011vw, -5.5805178982vh);
  }
}
@keyframes anim188 {
  100% {
    transform: translate(-79.2214454836vw, -11.1338480746vh);
  }
}
@keyframes anim192 {
  100% {
    transform: translate(-78.2518080337vw, -16.6329352618vh);
  }
}
@keyframes anim196 {
  100% {
    transform: translate(-76.9009356358vw, -22.0509884595vh);
  }
}
@keyframes anim200 {
  100% {
    transform: translate(-75.1754096017vw, -27.3616114568vh);
  }
}
@keyframes anim204 {
  100% {
    transform: translate(-73.0836365169vw, -32.5389314314vh);
  }
}
@keyframes anim208 {
  100% {
    transform: translate(-70.6358072839vw, -37.557725vh);
  }
}
@keyframes anim212 {
  100% {
    transform: translate(-67.8438474725vw, -42.3935411032vh);
  }
}
@keyframes anim216 {
  100% {
    transform: translate(-64.7213592185vw, -47.022820129vh);
  }
}
@keyframes anim220 {
  100% {
    transform: translate(-61.2835549536vw, -51.423008692vh);
  }
}
@keyframes anim224 {
  100% {
    transform: translate(-57.5471832906vw, -55.5726695113vh);
  }
}
@keyframes anim228 {
  100% {
    transform: translate(-53.5304474226vw, -59.4515858499vh);
  }
}
@keyframes anim232 {
  100% {
    transform: translate(-49.2529164353vw, -63.0408600078vh);
  }
}
@keyframes anim236 {
  100% {
    transform: translate(-44.735429963vw, -66.3230053889vh);
  }
}
@keyframes anim240 {
  100% {
    transform: translate(-39.9999966533vw, -69.2820316917vh);
  }
}
@keyframes anim244 {
  100% {
    transform: translate(-35.0696869337vw, -71.9035228111vh);
  }
}
@keyframes anim248 {
  100% {
    transform: translate(-29.9685206026vw, -74.1747070689vh);
  }
}
@keyframes anim252 {
  100% {
    transform: translate(-24.721349791vw, -76.0845194323vh);
  }
}
@keyframes anim256 {
  100% {
    transform: translate(-19.3537378633vw, -77.6236554167vh);
  }
}
@keyframes anim260 {
  100% {
    transform: translate(-13.891834847vw, -78.7846164089vh);
  }
}
@keyframes anim264 {
  100% {
    transform: translate(-8.362249995vw, -79.5617461908vh);
  }
}
@keyframes anim268 {
  100% {
    transform: translate(-2.7919220994vw, -79.9512584836vh);
  }
}
@keyframes anim272 {
  100% {
    transform: translate(2.7920118149vw, -79.951255378vh);
  }
}
@keyframes anim276 {
  100% {
    transform: translate(8.3623487803vw, -79.5617365594vh);
  }
}
@keyframes anim280 {
  100% {
    transform: translate(13.8919525223vw, -78.7845992823vh);
  }
}
@keyframes anim284 {
  100% {
    transform: translate(19.3538857994vw, -77.6236290907vh);
  }
}
@keyframes anim288 {
  100% {
    transform: translate(24.7215418116vw, -76.0844813291vh);
  }
}
@keyframes anim292 {
  100% {
    transform: translate(29.9687740459vw, -74.1746535294vh);
  }
}
@keyframes anim296 {
  100% {
    transform: translate(35.0700239391vw, -71.9034488065vh);
  }
}
@keyframes anim300 {
  100% {
    transform: translate(40.0004457508vw, -69.2819304349vh);
  }
}
@keyframes anim304 {
  100% {
    transform: translate(44.7360280553vw, -66.3228678216vh);
  }
}
@keyframes anim308 {
  100% {
    transform: translate(49.2537112853vw, -63.0406741325vh);
  }
}
@keyframes anim312 {
  100% {
    transform: translate(53.5315007796vw, -59.4513358667vh);
  }
}
@keyframes anim316 {
  100% {
    transform: translate(57.5485748204vw, -55.5723347095vh);
  }
}
@keyframes anim320 {
  100% {
    transform: translate(61.2853871724vw, -51.4225620336vh);
  }
}
@keyframes anim324 {
  100% {
    transform: translate(64.7237636756vw, -47.0222264458vh);
  }
}
@keyframes anim328 {
  100% {
    transform: translate(67.8469924807vw, -42.39275481vh);
  }
}
@keyframes anim332 {
  100% {
    transform: translate(70.6399075605vw, -37.5566872034vh);
  }
}
@keyframes anim336 {
  100% {
    transform: translate(73.0889651791vw, -32.5375662873vh);
  }
}
@keyframes anim340 {
  100% {
    transform: translate(75.1823130503vw, -27.3598215917vh);
  }
}
@keyframes anim344 {
  100% {
    transform: translate(76.9098519779vw, -22.0486492345vh);
  }
}
@keyframes anim348 {
  100% {
    transform: translate(78.2632898269vw, -16.6298876035vh);
  }
}
@keyframes anim352 {
  100% {
    transform: translate(79.2361877464vw, -11.1298895415vh);
  }
}
@keyframes anim356 {
  100% {
    transform: translate(79.8239986358vw, -5.5753915744vh);
  }
}
@keyframes anim360 {
  100% {
    transform: translate(80.0240979233vw, 0.0066192762vh);
  }
}

.backg{
  position:relative;
  height:500px;
  width:500px;
  border-radius:50%;
  background-color:rgba(0,0,0,0.1);
  transform:scale(0.7);
  }
.planet{
  height:200px;
  width:200px;
  border-radius: 50%;
  position: relative;
  background-color: #ff9933;
  top:45px;
  left:220px;
}
.r1{
  background-color: #ffbf80;
  height:20px;
  width:110px;
  border-radius:10px;
  position: relative;
  top:60px;
  left:85px;
}
.r2{
  background-color: #ffbf80;
  height: 15px;
  width:90px;
  border-radius:6.5px;
  position: relative;
  top:80px;
  left:110px;
}
.r3{
  background-color: #ffbf80;
  height:30px;
  width:120px;
  border-radius: 15px;
  position: relative;
  top:78px;
  left:50px;
}
.r4{
  background-color: #ffbf80;
  height:22px;
  width:90px;
  border-radius:11px;
  position: relative;
  top:70px;
  left:12px;
}
.r5{
  background-color: rgba(204, 102, 0,0.3);
  height:15px;
  width:40px;
  border-radius:7.5px;
  position: relative;
  bottom:50px;
  left:70px;
}
.r6{
  background-color: rgba(204, 102, 0,0.3);
  height:20px;
  width:60px;
  border-radius:11px;
  position: relative;
  bottom:25px;
  left:10px;
}
.r7{
  background-color: rgba(204, 102, 0,0.3);
  height:15px;
  width:45px;
  border-radius:7.5px;
  position: relative;
  top:40px;
  left:130px;
}
.r8{
  background-color: rgba(255,255,255,0.4);
  height:12px;
  width:30px;
  border-radius:7.5px;
  position: relative;
  top:7px;
  left:32px;
}
.shad{
  background-color: transparent;
  box-shadow: 15px 15px rgba(204, 102, 0,0.3);
  position: relative;
  height:200px;
  width:200px;
  border-radius: 50%;
  bottom: 164px;
  right:16px;
}
.astro
{
    position: absolute;
    right: 0;
    top: 0px;
    transform: rotate(-30deg);
}

.an{
  animation-name: flo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  position: relative;
  top: 10%;
  right: 70%;
  z-index: 999;
}
.slow-smooth-animation
{
    animation-name: flo; 
    animation-duration: 4s; 
    animation-iteration-count: infinite;
}
.smooth-animation
{
    animation-name: flo; 
    animation-duration: 4s; 
    animation-iteration-count: infinite;
}

@keyframes flo{
  50%{
    transform: translateY(30px);
  }
}
.tank{
  background-color: #a6a6a6;
  height:120px;
  width:120px;
  border-radius: 10px;
  position: relative;
  left:95px;
  top:50px;
  transform: rotate(-30deg);
}
.helmet{
  background-color: white;
  height:93px;
  width:100px;
  border-radius:45%;
  position: relative;
  left:20px;
  z-index: 5;
}
.glass{
  background-color: #666666;
  height:60px;
  width:80px;
  border-top-left-radius:60%;
  border-top-right-radius:60%;
  border-bottom-left-radius:40%;
  border-bottom-right-radius:40%;
  position: relative;
  left:10px;
  top:7px;
}
.shine{
  background-color: rgba(166, 166, 166,0.7);
  height:15px;
  width:15px;
  border-radius: 50%;
  position: relative;
  left:10px;
  top:15px;
}
.dress{
  background-color:#f2f2f2;
  height:100px;
  width: 100px;
  border-radius: 10%; 
  position: relative;
  bottom:5px;
  left:20px;

}
.handr{
  height: 26px;
  width:75px;
  background-color: #f2f2f2;
  border-radius:40px;
  position: relative;
  bottom:138px;
  left:95px;
  transform: rotate(-20deg);
}
.handl{
  height: 26px;
  width:75px;
  background-color: #f2f2f2;
  border-radius:40px;
  position: relative;
  bottom:111px;
  right:29px;
  transform: rotate(20deg);
}
.handr1{
  height: 26px;
  width:57px;
  background-color: #f2f2f2;
  border-radius:26px;
  position: relative;
  bottom: 18px;
  left:35px;
  transform: rotate(90deg);
}
.handl1{
  height: 26px;
  width:57px;
  background-color: #f2f2f2;
  border-radius:26px;
  position: relative;
  bottom: 17px;
  right:17px;
  transform: rotate(-90deg);
}
.glover{
  height:28px;
  width:26px;
  background-color: white;
  border-top-left-radius:50%; 
  border-top-right-radius:50%;
  transform: rotate(-90deg);
  position: relative;
  bottom: 1px;
  right:16px;
}
.glovel{
  height:28px;
  width:26px;
  background-color: white;
  border-top-left-radius:50%; 
  border-top-right-radius:50%;
  transform: rotate(90deg);
  position: relative;
  bottom: 1px;
  left:42px;
}
.thumbr{
  height: 10px;
  width:10px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  right:7px;
  top:19px;
}
.thumbl{
  height: 10px;
  width:10px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  left:21px;
  top:19px;
}
.b1{
  background-color: tomato;
  width:28px;
  height:5.5px;
  border-radius:13px;
  position: relative;
  top:18px;
  right: 1px;
}
.b2{
  background-color: tomato;
  width:28px;
  height:5.5px;
  border-radius:13px;
  position: relative;
  top:18px;
  right: 1px;
}
.c{
  background-color: white;
  width:55px;
  height:30px;
  border-radius:8px;
  position: relative;
  top:25px;
  left:23px;
}
.btn1{
  height:12px;
  width: 12px;
  border-radius: 50%;
  background-color: #4775ff;
  position: relative;
  left:5px;
  top:10px;
}
.btn2{
  height:12px;
  width: 12px;
  border-radius: 50%;
  background-color: #ffd147;
  position: relative;
  left:21px;
  bottom:2px;
}
.btn3{
  height:12px;
  width: 12px;
  border-radius: 50%;
  background-color: tomato;
  position: relative;
  bottom:14px;
  left:38px;
}
.btn4{
  height:20px;
  width:20px;
  border-radius: 50%;
  background-color: #a6a6a6;
  position: relative;
  left:19px;
  top:4px;
}

.legl{
  height:100px;
  width:40px;
  background-color: #f2f2f2;
  position: relative;
  bottom: 68px;
  left:5px;
  transform: rotate(20deg);
}
.legr{
  height:100px;
  width:40px;
  background-color: #f2f2f2;
  position: relative;
  bottom: 168px;
  left:96px;
  transform: rotate(-20deg);
}
.bootl1{
  background-color: white;
  width: 43px;
  height:35px;
  border-top-left-radius: 50%;
  border-top-right-radius:50%;
  position: relative;
  top:65px;
  right:1.5px;
}
.bootr1{
  background-color: white;
  width: 43px;
  height:35px;
  border-top-left-radius: 50%;
  border-top-right-radius:50%;
  position: relative;
  top:65px;
  right:1.5px;
}
.bootl2{
  background-color: tomato;
  width:45px;
  height: 5px;
  border-radius:21px;
  position: relative;
  top:30px;
  right: 1.5px;
}
.bootr2{
  background-color: tomato;
  width:45px;
  height: 5px;
  border-radius:21px;
  position: relative;
  top:30px;
  right: 1.5px;
}
.pipe{
  background-color:  transparent;
  height:80px;
  width:80px;
  border:10px solid #4775ff;
  border-radius:40px 0px 0px 70px;
  border-right: none;
  transform: rotate(180deg);
  position: relative;
  bottom: 330px;
  left:130px;
}
.pipe2{
  background-color:  transparent;
  height:90px;
  width:42px;
  border:10px solid #4775ff;
  border-radius:40px 0px 0px 0px;
  border-right: none;
  transform: rotate(90deg);
  position: relative;
  border-bottom: none;
  left:67px;
  bottom:34px;

}
.pipe3{
  height:10px;
  width: 10px;
  background-color: #4775ff;
  position: relative;
  border-radius: 65%;
  bottom:10px;
  left:37px;
}
.s1,.s2,.s3,.s4,.s5,.s6{
  background-color: white;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: relative;
}
.s1{
  bottom:150px;
  left:200px;
}
.s2{
  top:130px;
  left:254px;
}
.s3{
  bottom:98px;
  left:65px;
}
.s4{
  top: 216px;
  left:249px;
}
.s5{
  top: 139px;
  left:100px;
}
.s6{
  top:60px;
  left:370px;
}

.yellow-text {
  color: #fff55a; }

.footer-contact-info
{
  margin-top: 40vh;
}  
.footer-contact-wrap{
  top:20%;
}
.footer-contact-info-wrap
{
  top:30%;
}
@media only screen and (max-width: 900px) {
.footer-contact-wrap{top:5%}
.footer-contact-info {margin-top: 2vh}
.footer-contact-info-wrap{top:2%}
.an {display: none;}
body h3:not(.no-line) {margin-bottom:0}
}

.centered
{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
video {
  width: 100%;
  height: 500;
}
.w-64
{
  width: 250px;
}

body nav a 
{
  font-family: 'Cairo'; 
}
body.ar nav a
{
  letter-spacing: 0;
} 
